{% extends 'input.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block input_body %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block fos_user_content %}
        {% endblock fos_user_content %}
{% endblock input_body%}
{% block javascripts %}{% endblock %}